body {
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

.container {
    position: fixed;
    inset: 0;
    overflow: hidden;
    height: calc(var(--vh) * 100);
}

.one {
    display: flex;
    gap: 1.6rem;
    font-size: 1.25rem;
    position: fixed;
    right: 10px;
    z-index: 100;

    background-color: transparent;
}
.one button{
    margin-top: 3px;
}

.icons {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin: 8px 0;
}

.icons div {
    border: 2px solid black;
    border-radius: 50%;
    padding: 4.5px 6.8px;
}

.change {
    position: fixed;
    left: 10px;
    top: 10px;
    font-size: 1.6rem;
    z-index: 2000;
}

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    transition: all 1s linear;
    background-color: rgba(95, 158, 160, 0.055);
}

.download,
form button,button {
    border: 2px solid black;
    padding: 4px 10px;
    border-radius: 12px;
    margin-top: 10px;
    max-width: 200px;
    font-size: 1rem;
    background-color: transparent;
}

section {
    padding: 10px;
    width: 100%;
    position: absolute;
    transition: all 1s ease;
    margin: 0;
    height: 100%;
    pointer-events: none;
}
section:not(.notRight):not(.notTop):not(.notDown) {
    pointer-events: auto;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    transition: all 1s linear;
    background-color: rgba(0, 0, 255, 0.082);
}
#contact {
    background-color: rgba(30, 143, 255, 0.102);
}
#home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    background-color: #00b7ff11;
}

.img1 {
    height: 400px;
    width: 400px;
    background: url(./image/3a252699-5774-48b3-a0f2-b20d09bd89dd.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.first {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

#img {
    display: flex;
    justify-content: end;
}

a {
    text-decoration: none;
}

#about h1,
#about h2,
#contact h1,
#skills h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

#about h2 {
    margin: 0;
    font-size: 2.3rem;
}
#about h3,#about p{
    margin: 5px 0;
}
#about ul{
    margin: 4px 0;
}
.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0 14px;
}

.slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0 10px 0 0;
}

.project-slider {
    display: flex;
    gap: 20px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
}
#skills{
    right: 0;
    left: 0;
}
.project-slider::-webkit-scrollbar {
    height: 0;
}

.project-card {
    height: 400px;
    min-width: 300px;
    background-image: url(./image/3a252699-5774-48b3-a0f2-b20d09bd89dd.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    scroll-snap-align: start;
    padding: 0 10px;
}

.slide {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background: linear-gradient(to top, rgba(255, 166, 0, 0.999), rgba(255, 166, 0, 0.001));
    text-align: center;
    opacity: 0;
    transition: height 0.6s linear, opacity 0.4s ease-in-out;
}

.project-card:hover .slide {
    height: 100%;
    opacity: 1;
}

/* Slider Navigation Buttons */
.slide-btn {
    position: absolute;
    top: 50%;
    background: rgba(255, 166, 0, 0.8);
    border: none;
    color: #fff;
    padding: 6px 14px 6px 12px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1000;
    transition: background 0.3s;
}

.slide-btn:hover {
    background: rgba(255, 166, 0, 1);
}

.slide-btn.left {
    left: 10px;
}

.slide-btn.right {
    right: 20px;
}

.slide div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.slide div p {
    margin: 0 0 5px 0;
    font-size: 1.1rem;
}

.right {
    transform: translateX(0);
    opacity: 1;
}

.notRight {
    transform: translateX(100%);
    opacity: 0;
}

.notTop {
    transform: translateY(-100%);
    opacity: 0;
}

.top {
    transform: translateY(0);
    opacity: 1;
}

button {
    cursor: pointer;
    background-color: transparent;
}

.notDown {
    transform: translateY(100%);
    opacity: 0;
}

.down {
    transform: translateY(0);
    opacity: 1;
}

.opacity1 {
    opacity: 0;
}


body.dark-mode {
    background-color: black;
    color: #f1f1f1;
}

body.dark-mode header.one {
    background-color: transparent;
}

body.dark-mode section {
    background-color: black;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode p,
body.dark-mode li {
    color: #f1f1f1;
}

body.dark-mode button {
    background-color: #222;
    color: #fff;
    border: 1px solid #555;
}

body.dark-mode header button {
    border: none;
}

body.dark-mode a {
    color: #00b7ff;
}

body.dark-mode .icons div {
    border-color: #bbb;
}

body.dark-mode .download {
    border-color: #888;
    color: #fff;
}

* {
    transition: background-color 0.3s ease, color 0.3s ease;
}

body {
    visibility: hidden;
}

body.ready {
    visibility: visible;
}

body:not(.ready) * {
    transition: none !important;
}

form {
    margin: 40px auto 20px auto;
    width: 100%;
}

form div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

input,
textarea {
    width: 85%;
    padding: 5px;
    border-radius: 6px;
    border: none;
    font-size: 1.2rem;
    background-color: aliceblue;
    resize: none;
    overflow: auto;
}

label {
    font-size: 1.5rem;
}

.textarea {
    align-items: start;
}

form button {
    width: 40%;
    margin: 0 auto;
}

footer {
    display: flex;
    justify-content: center;
    border-top: 2px solid;
    position: absolute;
    bottom: 46px;
    left: 0;
    right: 0;
    font-size: 1.5rem;
}

.span1 {
    color: rgb(156, 7, 7);
    font-size: 2.8rem;
}

.span2 {
    color: rgb(33, 9, 121);
    font-size: 3rem;
}

.typing-container {
    display: inline-flex;
    /* keeps elements on the same line */
    align-items: flex-end;
    /* aligns cursor to text baseline */
    gap: 2px;
    /* optional spacing between text and cursor */
}

.div1 {
    margin-bottom: 0;
}

#type1 {
    margin-bottom: 0;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

h1 {
    margin-bottom: 6px;
}

#home h1 {
    margin: 4px 0;
}

#home h2 {
    margin: 0 0 2px 0;
}

#contact h1 {
    margin-bottom: 12px;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate {
    animation: fadeUp 1.8s ease forwards;
}

@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(40px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.skill-item {
    opacity: 0;
    /* initially hidden */
}

.fadeLeft-title {
    animation: fadeLeft 3s ease forwards;
}

.fadeLeft-li {
    animation: fadeLeft 3s ease forwards;
}

.one button {
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
}

.contactDiv {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    justify-content: center;
}

#contact {
    padding-top: 40px;
}

#contact h1 {
    margin: 0 auto 0px auto;
}

.icons4 {
    width: 20%;
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.leftDiv {
    margin: -4px auto 0 auto;
    width: 90%;
    font-size: 1.2rem;
}
.leftDiv p{
    margin: 8px 0;
}
.floatEven {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.slide button {
    padding: 4px;
    border-radius: 50%;
    border: none;
}
#fadeUp{
    font-size: 1.1rem;
}
@media screen and (max-width:1260px) {
    .project-slider {
        width: 88%;
    }
}

@media screen and (max-width:1120px) {
    .img1 {
        height: 380px;
        width: 380px;
    }

    .span1 {
        font-size: 2.6rem;
    }

    .span2 {
        font-size: 2.4rem;
    }

    #home {
        gap: 1.5rem;
    }
     .icons4 {
        width: 24%;
    }
    .project-slider {
        width: 86%;
    }
}

@media screen and (max-width:1020px) {
    #home {
        gap: 1.25rem;
    }
    .icons4 {
    width: 26%;
}
input,
textarea {
    width: 86.5%;
}
}

@media screen and (max-width:920px) {
    .img1 {
        height: 380px;
        width: 380px;
    }

    .span1 {
        font-size: 2.4rem;
    }

    .span2 {
        letter-spacing: -1px;
    }

    #home {
        gap: 0.8rem;
    }
    #about h2 {
    font-size: 2.3rem;
    letter-spacing: -1px;
}
    .icons4 {
    width: 28%;
}
input,
textarea {
    width: 88%;
}
.project-slider {
        width: 84%;
    }
}

@media screen and (max-width:820px) {
    .img1 {
        height: 360px;
        width: 360px;
    }

    .span1 {
        font-size: 2.4rem;
    }

    .span2 {
        letter-spacing: -1.5px;
    }

    .span1 {
        letter-spacing: -1px;
    }

    .div12 {
        letter-spacing: -1px;
    }

    #home {
        gap: 0.4rem;
    }
    #about h2 {
    font-size: 2.2rem;
}
    .icons4 {
    width: 30%;
}
input,
textarea {
    width: 90%;
}
.project-slider {
        width: 82%;
    }
}

@media screen and (max-width:760px) {
    #home {
        grid-template-columns: 1fr;
    }

    .img1 {
        margin: 0 auto;
    }

    .first {
        text-align: center;
        padding: 0;
        margin-top: -50px;
    }

    h1 {
        margin-bottom: 0px;
    }

    #home h1 {
        margin: 0;
    }

    #home h2 {
        margin: 0;
    }

    .download {
        margin: 0 auto;
        min-width: 150px;
        font-size: 0.93rem;
    }

    .img1 {
        height: 340px;
        width: 340px;
    }

    .one {
        gap: 1rem;
        padding: 8px 0;
    }

    .one button {
        font-size: 1.25rem;
    }
    #about h2 {
    font-size: 2.15rem;
}
    .icons4 {
    width: 34%;
}
.project-slider {
        width: 80%;
    }
}